<!DOCTYPE html>
<html>
<body style="background-image: url(https://img.freepik.com/free-photo/view-3d-businessman-working-laptop_23-2150709808.jpg?size=626&ext=jpg&uid=R138232052&ga=GA1.1.1235867597.1708125496&semt=ais_ai_generated);
background-repeat: no-repeat;
background-size: cover;">
<center>
<h1 style="color: rgb(55, 242, 183);background-color:rgb(195, 224, 117);width: fit-content;
background-image: url(https://img.freepik.com/free-photo/breathtaking-shot-beautiful-stones-turquoise-water-lake-hills-background_181624-12847.jpg?w=1060&t=st=1708175674~exp=1708176274~hmac=59e6b8a339e24bf93934751bf1d4b54670c3871f43b6fef31b126501bb09ee0a)">View Your Answers </h1>
</center>
<center>
<fieldset style="text-align: center;width: fit-content;display:table;justify-content: center;
box-sizing: content-box;border-color: rgb(18, 231, 3); background-image: url(https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=1380&t=st=1708175494~exp=1708176094~hmac=82d069d702202908c0b1209cb7263c6902555fafdb9af3972092dc03ca0badd6)">
   <legend><strong><p style="color: rgb(64, 45, 232);background-color: beige;
      font-size: larger;">
          Choose Your Option </strong>
      </p></legend>
   <p>
   <button style="background-color: rgb(84, 187, 201);">
      <a style="color: brown;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: larger;" href="/full_anlyz">Full Paper </a></button>
</p>
<b>
   <button style="background-color:rgb(84, 187, 201);text-align: center;float: auto;"> 
      <a style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: larger;" href="/right_ans"> ALL Right Answers </a> </button>
</b>

<p>
<b>
   <button style="background-color:rgb(84, 187, 201);"> 
      <a style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: larger;" href="/wrong_ans">ALL Wrong Answers </a> </button>
</b>
</p>
</fieldset>
</body>
</center>
</html>